*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --green: #388448;
    --gray: #333a40;
    --green-button: #29a745;
    --light-gray: #808387;
    --white: #ffffff;
    --d-gray: #353a40;
}

.nav-logo{
    display: flex;
}

.nav-logo img{
    width: 150px;
}

.navegador{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 10px 90px;
    background-color: var(--gray);
    align-items: center;
    height: 80px;
}

.nav-left{
    display: flex;
    color: var(--white);
    align-items: center;
    font-size: 23px;

 }

.nav-menu{
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 90px;
    margin-bottom: 0px;
    font-weight: 500;
}

.nav-menu a{
    text-decoration: none;
    color: var(--light-gray);
}

.img-codo {
    width: 120px;

}

.nav-left p{
    margin: 0;
}
.comprar-tickets{
    color: var(--green);
}

.nav-option:hover{
    color: white;
}

.comprar-tickets:hover{
    color: rgb(8, 199, 8)
}

.section-1{
    display: flex;
    height: 500px;
    background-image: url(./imagenes_integrador_front/ba1.jpg);
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
    background-position:center;
    align-items: center;
    justify-content: end;

}

.section-1-content{
    color: var(--white);
    width: 40%;
    position: relative;
    z-index: 2;
    margin-top: 100px;
    margin-right: 90px;
    text-align: end;
    font-size: 18px;
    font-weight: 500;

}

.overlay{
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: 1;
}

.button-1{
    border: none;
    height: 40px;
    width: 170px;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: 0.5px solid white;
}

.button-2{
    height: 40px;
    width: 170px;
    border: none;
    background-color: var(--green-button);
    color: white;
    font-weight: 500;
    border-radius: 4px;

}

.texto-claro{
    text-align: center;
    margin: 15px 0px 0px 0;
    font-weight: 100;
    font-size: 15px;
}

.titulo{
    text-align: center;
    margin: 0px 0px 5px 0px;
    font-weight: 500 ;
    font-size: 35px;
}

.card-group{
   margin: 10px 200px;
   gap: 50px;
}

.javascript{
    background-color: yellow;
    color:black;
    width: 80px;
    border-radius: 6px;
    text-align: center;
}

.conocimientos{
    display: flex;
    gap: 0.3em;
    font-weight: 500;

}

.react{
    background: rgb(41, 134, 177);
    color: white;
    width: 50px;
    text-align: center;
    border-radius: 6px;
}

.conocimientosAda{
    display: flex;
    gap: 0.3em;
    font-weight: 500;
}

.negocios{
color: white;
background: rgb(105, 105, 105);
width: 80px;
text-align: center;
border-radius: 6px;

}

.startups{
    background: red;
    color: white;
    width: 70px;
    text-align: center;
    border-radius: 6px;

}

.texto-claro{
    color: var(--light-gray);
}

.divido{
    display: flex;
    width: 100%;
    margin: 40px 0;
}

.imagen{
   width: 50%;
   overflow: hidden;
}

.contenido{
    width: 50%;
    background: var(--d-gray);
    color: var(--white);
    padding: 20px;
}

.imagen img{
    width: 100%;
}

.parrafo1{
    font-size: 27px;
    font-weight: 500;
}

.parrafo2{
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}

.buttondivido{
    color: var(--white);
    background-color: transparent;
    border-radius: 5px;
    width: 110px;
    height: 35px;
    border: none;
    border: 1px solid white;


}

.footermenu{
    display: flex;
    list-style: none;
    gap: 110px;

}

.footermenu a{
    text-decoration: none;
    color:var(--white);
    font-size: 18px;
    font-weight: 500;
}

.texto-claro2{
    text-align: center;
    margin: -20px 0px 0px 0;
    font-weight: 100;
    font-size: 15px;
    color: var(--light-gray);
}

.texto-claro3{
    text-align: center;
    margin: 10px 0px;
    font-weight: 100;
    font-size: 15px;
    color: var(--light-gray);
}

.titulo2{
    text-align: center;
    margin: 0px 0px 5px 0px;
    font-weight: 500 ;
    font-size: 35px;
}

footer{
    background: linear-gradient(90deg,#1a3644, #1d506d);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

.formulario{
    margin: 0 auto;
    gap: 50px;
    width: 45%;
}

.textoarea{
    margin: 20px 0px;
}

.buttonformu{
    margin: 0 auto;
    width: 100%;
    border: none;
    background: #96c93e;
    color: var(--white);
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 15px;
}

.form-text{
    margin-top: -15px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.navegador_mobile{
    display: none;
}

/* Funcion movil */

@keyframes aparecerModal {
    0%{opacity: 0;}
    100%{opacity: 1;}
}


@media screen and (max-width:700px){
    .navegador{
        display: none;
    }

    .navegador_mobile{
        background-color: var(--gray);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    .menu_hamburguesa{
        display: flex;
        flex-direction: column;
        gap:5px;
    }

    .linea{
        width: 35px;
        background-color: var(--white);
        height: 3px;
    
    }

    .modal_menu{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        z-index:3 ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: none;
        opacity: 0;
        

        
    }

    .nav-menu-mobile{
        display: flex;
        flex-direction: column;
        list-style: none;
        text-decoration: none;
        color: var(--white);
        font-size: 25px;
        gap:60px;

    }

    .nav-option-mobile{
        text-decoration: none;
        color: var(--white);
        font-size: 18px;
    }

    .nav-option-mobile:hover{
        font-weight: 500;
        border-bottom: 2px solid white;
        color: var(--white);
    }

    .close_menu{
        filter: brightness(10);
        position: absolute;
        margin-top: -160px;
        right: 70px;
        width: 30px;
    }

    .section-1-content{
        width: 80%;
        margin: 0;
        text-align: justify;
        padding: 0;
    }

    .section-1{
        justify-content: center;
    }

    .section-1-buttons{
        display: flex;
        flex-direction: column;
        gap: 15px;
        
    }

    .card-group{
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    .divido{
        flex-direction: column;

    }

    .imagen{
        width: 100%;
    }

    .contenido{
        width: 100%;
    }

    .formulario{
        width: 90%;
    }

    .texto-claro3{
        margin: 0 30px 15px 30px;
    }


    footer{
        height: 200px;
        padding: 20px;
    }

    .footermenu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        align-items: center;
        justify-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
        
        

    }

    .footermenu a{
        font-weight: 300;
        font-size: 15px;
        text-align: center;
        margin: 0 auto;
    }
}